<!-- <app-diretiva-ngif></app-diretiva-ngif>  -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ng-content>
conteudo passado para o filho
<app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content> -->

<!-- <app-exemplo-ng-content>
  <div class="titulo">
    titulao zica
  </div>
  <div class="corpo">
    ai sim agora fica no body
  </div>
  <div class="corpo">
    concatenado
  </div>
</app-exemplo-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>
